.root {
  @apply flex flex-col py-16 mx-auto;
}

.container {
  margin: auto;
  padding: 50px;
}

.title {
  @apply text-accent-0 font-extrabold text-4xl leading-none tracking-tight;
  color: black;
  text-align: left;
  margin-bottom: 30px;
  font-size: 30px;
}

.description {
  @apply mt-4 text-xl leading-8 text-accent-2 mb-1 lg:max-w-4xl;
  color: black;
  margin: auto;
  text-align: left;
  font-size: 13px;
}

@screen lg {
  .root {
    @apply flex-row items-start justify-center py-32;
  }
  .title {
    font-size: 30px;
    line-height: 3.5rem;
  }
  .description {
  }
}

@screen xl {
  .title {
  }
}

@screen xl {
  .container_content {
    display: flex;
    flex-direction: row;
  }

  .image_container {
    margin-left: auto;
    display: inline-flex;
    height: 230px;
    width: 250px;
  }

  .image_container span {
    width: 250px;
    height: 250px;
  }

  .text_container {
    max-width: 560px;
    margin-right: auto;
  }
}

@screen lg {
  .container_content {
    display: flex;
    flex-direction: row;
  }

  .image_container {
    margin-left: auto;
    display: inline-flex;
    height: 230px;
    width: 250px;
  }

  .image_container span {
    width: 250px;
    height: 250px;
  }

  .text_container {
    max-width: 560px;
    margin-right: auto;
  }
}
